/* Général ------------------------------------------------------------------------------------- */

legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

/* Text -----------------------------------------------------------------------------------------*/
header{
	font: bold 24pt verdana, helvetica, sans-serif;
	color: #0568CD;
}

#textpresentation{
	font: normal 12pt verdana, helvetica, sans-serif;
	color: #429efb;
}

#textpetit{
	font: italic 8pt verdana, helevetica, sans-serif;
}

/* Forms --------------------------------------------------------------------------------------- */
fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
    margin: 10px;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

form label {
    float: left;
    width: 50px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}


/* Résultats -------------------------------------------------------------------------- */

.info {
	font : italic 8pt verdana, helvetica, sans-serif;
    color: #272174;
}

#triangle {
	font : bold 12pt verdana, helvetica, sans-serif;
}